* {
  font-family: 'IBM Plex Mono', sans-serif;
}

.background {
  background-color: cadetblue;
  width: 100%;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.main {
  align-content: center;
  background-color: rgb(99, 89, 166);
  border-style: outset;
  border-color: silver;
  border-radius: 10px;
  border-width: 2px;
  box-sizing: border-box;
  min-height: 50%;
  min-width: 50%;
  // justify-content: center;
  margin: 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.form {
  background-color: rgb(75, 36, 111);
  border-width: 2px;
  margin: 1em;
  color: azure;
  border-style: outset;
  border-color: silver;
  padding: 0.5em;
}

.imgcontainer {
  max-height: max-content;
  display: flex;
  justify-content: center;
  padding: 1em;
}

.imgcontainer > * {
  max-height: 80vh;
  max-width: 90%;
}
