* {
  font-family: 'IBM Plex Mono', sans-serif;
}

.background {
  background-color: cadetblue;
  width: 100%;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.main {
  background-color: darkslateblue;
  box-sizing: border-box;
  width: 80%;
  justify-content: center;
  margin: 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
}

.form {
  background-color: rebeccapurple;
  margin: 1em;
}

.imgcontainer {
  max-height: max-content;
  display: flex;
  justify-content: center;
  padding: 1em;
}

.imgcontainer > * {
  max-height: 80vh;
  max-width: 90%;
}
